<div class="disable-decoration-only-pointer" (click)="changeActiveTemplate()">
  <div class="row precisely-theme">
    <div class="col col-3  precisely-font  ">
      <span>V{{template.version}}</span>
    </div>
    <div class="col col-9 reset-font">
      <p class="mb-0  wrap-lines">{{template.author}}</p>
      <div [ngSwitch]="template.creationDate.slice(template.creationDate.length-1)">
        <p class="navigation-gray mt-0 font-size-9" *ngSwitchCase="'D'">
          Edited {{template.creationDate.slice(0, template.creationDate.length - 1)}} days ago </p>
        <p class="navigation-gray mt-0 font-size-9" *ngSwitchCase="'M' || 'Y'">Edited
          {{template.creationDate.slice(0, template.creationDate.length - 1)}}</p>
      </div>
    </div>
  </div>
</div>
