<div>
  <div class="modal-header">
    <div *ngIf="nameOfJsonFile; else noNameOfFile">
      <h4 class="modal-title pull-left">{{nameOfJsonFile}} history ({{templates.length}} updates)</h4>
    </div>
    <ng-template #noNameOfFile>
      <h4 class="modal-title pull-left">There is no loaded template :C</h4>
    </ng-template>
    <button type="button" class="precisely-theme close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0 pb-0 ">
    <div class="row">
      <div class="col  col-lg-3 col-12 border-gray box">
        <div class="w-100">
          <app-navigation-templates
            *ngFor="let template of availableTemp"
            [template]="template"
          ></app-navigation-templates>
        </div>
        <div class="center w-100 border-top-gradient" *ngIf="nameOfJsonFile">
          <app-pagination-switiching-templates
            [totalItems]="templates.length" >
          </app-pagination-switiching-templates>
        </div>
      </div>
      <div class="col col-lg-9 col-12 border-gray background-lightgray">
        <app-template-comperer *ngIf="nameOfJsonFile"></app-template-comperer>
      </div>
    </div>
  </div>
</div>
